site_name: KevinbotLib
site_author: Kevin Ahr
site_url: https://meowmeowahr.github.io/kevinbotlib

theme:
  name: "material"
  language: en
  features:
    - content.code.copy
    - content.tabs.link
    - content.action.edit
    - navigation.top
    - navigation.instant
    - navigation.instant.progress
    - navigation.footer
    - navigation.indexes
    - navigation.tabs
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    logo: material/robot
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: #60a5fa
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: #60a5fa
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: #60a5fa
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  - attr_list
  - md_in_html
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tilde
  - pymdownx.keys

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            heading_level: 2
            members_order: source
            show_root_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_root_members_full_path: true
            parameter_headings: false
            show_source: false
            show_if_no_docstring: true
            filters: ["!^_", "^__init__$"]
  - search
  - mike
  - blog
  - rss:
      match_path: blog/posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags

extra:
  version:
    provider: mike

nav:
  - Docs:
      - index.md
      - installation.md
      - Examples:
          - examples/index.md
          - examples/comm.md
          - examples/logger.md
          - examples/joystick.md
          - examples/system.md
      - Applications:
          - Control Console:
              - apps/console/index.md
              - apps/console/launching.md
              - apps/console/run.md
              - apps/console/controllers.md
              - apps/console/metrics.md
              - apps/console/settings.md
          - Dashboard:
              - apps/dashboard/index.md
              - apps/dashboard/launching.md
              - apps/dashboard/ui.md
              - apps/dashboard/settings.md
              - apps/dashboard/widgets.md
          - Log Downloader:
              - apps/logdownloader/index.md
              - apps/logdownloader/launching.md
              - apps/logdownloader/connection.md
              - apps/logdownloader/controls.md
              - apps/logdownloader/viewing.md
          - Log Viewer:
              - apps/logviewer/index.md
              - apps/logviewer/launching.md
              - apps/logviewer/loading.md
              - apps/logviewer/viewing.md
      - Command Line Tools:
          - cli/index.md
      - commandscheduler.md
      - robot.md
      - Communications:
          - comms/index.md
          - comms/sendables.md
      - Simulation Framework:
          - sim/index.md
          - sim/windowview.md
      - Vision:
          - vision/index.md
          - vision/extend-basecamera.md
          - vision/simulation.md
      - Hardware:
          - hardware/interface-vs-controller.md
          - Controllers:
              - hardware/controllers/keyvalue.md
          - Interfaces:
              - hardware/interfaces/serial.md
      - fileserver.md
      - KevinbotLib DeployTool:
          - deploytool/index.md
          - deploytool/commands.md
      - KevinbotLib Reference:
          - reference/robot.md
          - reference/logging.md
          - reference/scheduler.md
          - reference/comm.md
          - reference/joystick.md
          - reference/fileserver.md
          - reference/hardwareinterface.md
          - reference/hardwarecontroller.md
          - reference/simulator.md
          - reference/coord.md
          - reference/vision.md
          - reference/metrics.md
          - reference/ui.md
          - reference/misc.md
          - reference/exceptions.md
  - Blog:
      - blog/index.md

repo_url: https://github.com/meowmeowahr/kevinbotlib

extra_css:
  - stylesheets/extra.css
